# Віртуальне середовище (займає багато місця, його не можна пушити)
.venv/
venv/
env/

# Налаштування редактора PyCharm
.idea/

# Кеш Python (генерується автоматично)
__pycache__/
*.py[cod]
*$py.class

# Файли з секретними ключами та паролями (якщо створите згодом)
.env

# Логи та тимчасові файли ОС
*.log
.DS_Store
Thumbs.db